<div>
  <h4 class="center">Analysis Summary</h4>
  <br>
  <div class="col s12" style="background-color: whitesmoke; border-style: solid; border-color: white">
    <div class="blue-grey"><a class="center" style="color: white"><h4 class="center">Job Options</h4></a></div>
    <div>
      <table  class="responsive-table highlight">
        <thead>
          <th class="center">Name</th>
          <th class="center">Comparison</th>
          <th class="center">Effect Model</th>
          <th class="center">Functional Profiling</th>
          <th class="center">Reference Organism</th>
        </thead>
        <tbody>
          <td class="center">{{selectedAnalysis}}</td>
          <td class="center" *ngIf="contrast == '(ME-MS)-(HE-HS)'">(CaseFemale - ControlFemale) - (CaseMale - ControlMale) </td>
          <td class="center" *ngIf="contrast != '(ME-MS)-(HE-HS)'">{{contrast}}</td>
          <td class="center">Random Effect Model</td>
          <td class="center">GSA</td>
          <td class="center">hsa</td>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div id="jobDescription" class="row col s12" style="background-color: whitesmoke;  border-style: solid; border-color: white">
    <div class="blue-grey"><a class="center" style="color: white"><h4 class="center">Samples Description</h4></a></div>
    <br>
    <div class="row">
      <div class="col s6">
        <div class="col s12">
          <table name="myTable" class="responsive-table highlight">
            <thead>
              <tr>
                <ng-container *ngFor="let tag of designHeader;">
                  <th class="center">{{tag}}</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let val of summaryDesign;">
              <tr>
                <td>{{val.split(',')[0].toUpperCase()}}</td>
                <td class="center">{{val.split(',')[1]}}</td>
                <td class="center">{{val.split(',')[2]}}</td>
                <td class="center">{{val.split(',')[3]}}</td>
                <td class="center">{{val.split(',')[4]}}</td>
                <td class="center"><strong>{{val.split(',')[5]}}</strong></td>
              </tr>
            </ng-container>
              <tr>
                <td><strong>Total</strong></td>
                <td class="center"><strong>{{this.totalSamples[1]}}</strong></td>
                <td class="center"><strong>{{this.totalSamples[2]}}</strong></td>
                <td class="center"><strong>{{this.totalSamples[3]}}</strong></td>
                <td class="center"><strong>{{this.totalSamples[4]}}</strong></td>
                <td class="center"><strong>{{this.totalSamples[5]}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col s6">
        <div class="col s12">
          <plotly-plot [data]="summaryBarplot.data" [layout]="summaryBarplot.layout" [revision]="0" [useResizeHandler]="useResizeHandler"></plotly-plot>
        </div>
      </div>
    </div>
    
  </div>
  <div id="diffExpSummary" class="row col s12" style="background-color: whitesmoke; border-style: solid; border-color: white">
    <div class="blue-grey"><a class="center" style="color: white"><h4 class="center">Differential Expression Summary</h4></a></div>
    <br>
    <div class="col s12">
      <table name="myTable" class="responsive-table highlight">
        <thead>
          <tr>
            <ng-container *ngFor="let tag of diffExpHeader;">
              <th class="center">{{tag}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let val of summaryDiffExp;">
            <tr>
              <td>{{val.split(',')[0].toUpperCase()}}</td>
              <td class="center">{{val.split(',')[1]}}</td>
              <td class="center">{{val.split(',')[2]}}</td>
              <td class="center">{{val.split(',')[3]}}</td>
              <td class="center">{{val.split(',')[4]}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>    
    </div>
  </div>
  <div id="functionalProfilingSummary" class="col s12" style="background-color: whitesmoke;  border-style: solid; border-color: white">
    <div class="blue-grey"><a class="center" style="color: white"><h4 class="center">Functional Profiling Summary</h4></a></div>
    <br>
    <div class="col s12">
      <table name="myTable" class="responsive-table highlight"><thead>
    <tr>
      <ng-container *ngFor="let tag of funcProfileHeader;">
        <th class="center">{{tag}}</th>
      </ng-container>
    </tr>
    </thead>
      <tbody>
      <ng-container *ngFor="let val of summaryFuncProfile;">
        <tr>
          <td>{{val.split(',')[0].toUpperCase()}}</td>
          <td class="center">{{val.split(',')[1]}}</td>
          <td class="center">{{val.split(',')[2]}}</td>
          <td class="center">{{val.split(',')[3]}}</td>
          <td class="center">{{val.split(',')[4]}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    </div>

  </div>
  <br>
  <div id="metaanalysisSummary" class="row col s12" style="background-color: whitesmoke; border-style: solid; border-color: white">
    <div class="blue-grey"><a class="center" style="color: white"><h4 class="center">Meta-Analysis Summary</h4></a></div>
    <br>
    <div class="col s12">
      <table name="myTable" class="responsive-table highlight"><thead>
    <tr>
      <ng-container *ngFor="let tag of metaHeader;">
        <th class="center">{{tag}}</th>
      </ng-container>
    </tr>
    </thead>
      <tbody>
        <ng-container *ngFor="let val of summaryMeta;">
          <tr>
            <td class="center">{{val.split(',')[0].toUpperCase()}}</td>
            <td class="center">{{val.split(',')[1]}}</td>
            <td class="center">{{val.split(',')[2]}}</td>
            <td class="center">{{val.split(',')[3]}}</td>
            <td class="center">{{val.split(',')[4]}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
  </div>
</div>
