<p class="metaFooter metaBlack hide-on-small-only">
  MetaFun v0.1<br>
  Created by <a href="http://bioinfo.cipf.es/cbl" target="_blank">Computational Biomedicine Laboratory</a><br>
  Centro de Investigación Príncipe Felipe (CIPF), Valencia, Spain<br>
  2024
</p>
