<ngx-smart-modal #showJobInfoModal identifier="showJobInfoModal" customClass="large-modal">
  <h4 class="center">Job Information</h4>
  <div>
    <br>
    <br>
    <div class="center col s10 offset-s2">
      <table>
        <thead>
          <td>Job Name</td>
          <td class="center"><strong>Launch Date</strong></td>
          <td class="center">Effect Model</td>
          <td class="center">Functional Analysis</td>
          <td class="center">Organism</td>
          <td class="center">Studies</td>
          <td class="center">Status</td>
        </thead>
        <ng-container *ngFor="let job of jobs;  let i=index" ngSwitch={{job.status}}>
          <tr>
            <td *ngIf="job.status==1"><a>{{job.name}} </a></td>
            <!-- <td *ngIf="job.status==1" style="color:black"><b>{{job.name}}</b></td> -->
            <td *ngIf="job.status!=1" style="color:#939393">{{job.name}}</td>
            <td class="center"> {{job.createdAt.toLocaleString()}}  </td>
            <td class="center"> {{job.effectModel.replace('-','')}} </td>
            <td class="center"> {{job.functional.replace('-','')}}  </td>
            <td class="center"> {{job.organism.replace('-','')}}    </td>
            <td class="center" id="modalstudies{{i}}"></td>
            <td class="center" *ngSwitchCase="2"><i class="material-icons">error_outline</i></td>
            <td class="center" *ngSwitchCase="1" style="color:#759752"><i class="material-icons">check</i></td>
            <td class="center" *ngSwitchCase="0"><i class="material-icons">rotate_right</i></td>
            <td *ngSwitchCase="0"><button class="material-icons btn disabled materialize-red" style="background-color:#acacac !important; color:white !important" (click)="this.deleteJob(i)">delete</button></td>
            <td *ngSwitchCase="1"><button class="material-icons btn materialize-red" style="background-color:#D64933 !important" (click)="this.deleteJob(i)">delete</button></td>
            <td *ngSwitchCase="2"><button class="material-icons btn materialize-red" style="background-color:#D64933 !important" (click)="this.deleteJob(i)">delete</button></td>
          </tr>
        </ng-container>
      </table>
      
    </div>
    <br>
    <br>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #deleteFilesModal identifier="deleteFilesModal" customClass="large-modal">
  <h4 class="center">Delete All Files</h4>
  <div class="center col s10 offset-s2">
    <br>
    <br>
    <a style="color: #454545;">You are about to delete all your Files.</a><br>
    <a style="color: #454545;">To continue, type </a><a style="color: #a21318;">DELETE ALL FILES</a><a style="color: #454545;"> in the box below.</a><br>
    <br>
    <a style="color: #454545;">Please note that this action is irreversible.</a>
    <br>
  </div>
  <div class="row">
    <input id="deleteFilesInput" (keyup)="this.checkFilesDelete()" class="col s8 offset-s2" type="text"><button id="deleteFilesButton" (click)="this.deleteAllFiles()" disabled=true class="waves-effect btn">Accept</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #deleteJobsModal identifier="deleteJobsModal" customClass="large-modal">
  <h4 class="center">Delete All Jobs</h4>
  <div class="center col s10 offset-s2">
    <br>
    <br>
    <a style="color: #454545;">You are about to delete all your jobs and their results.</a><br>
    <a style="color: #454545;">To continue, type </a><a style="color: #a21318;">DELETE ALL JOBS</a><a style="color: #454545;"> in the box below.</a><br>
    <br>
    <a style="color: #454545;">Please note that this action is irreversible.</a>
    <br>
  </div>
  <div class="row">
    <input id="deleteJobsInput" (keyup)="this.checkJobsDelete()" class="col s8 offset-s2" type="text"><button id="deleteJobsButton" (click)="this.deleteAllJobs()" disabled=true class="waves-effect btn">Accept</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #deleteAccountModal identifier="deleteAccountModal" customClass="large-modal">
  <h4 class="center">Delete Account</h4>
  <div >
    <br>
    <br>
    <div class="center col s10 offset-s2">
      <a style="color: #454545;">You are about to delete all information in your account.</a><br>
      <a style="color: #454545;">To continue, type </a><a style="color: #a21318;">DELETE ACCOUNT</a><a style="color: #454545;"> in the box below.</a><br>
      <br>
      <a style="color: #454545;">Please note that <b>this action is irreversible</b>.</a>
    </div>
    <br>
  </div>
  <div class="row">
    <input id="deleteAccountInput" (keyup)="this.checkAccountDelete()" class="col s8 offset-s2" type="text"><button id="deleteAccountButton" disabled="true" (click)="this.deleteAccount()" class="waves-effect btn">Accept</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #changePasswordModal identifier="changePasswordModal" customClass="large-modal">
  <div class="row">
    <h4 class="center">Change Password</h4>
    <br>
    <br>
    <a>

    </a>
    <div class="col s8 center offset-s2">
      <a class="left">Type your <strong>OLD</strong> password</a>
      <input type="password" id="oldPassInput" placeholder="Old Password">
      <a class="left">Type your <strong>NEW</strong> password</a>
      <input type="password" id="newPassInput1" placeholder="New Password">
      <a class="left">Retype your <strong>NEW</strong> password </a>
      <input type="password" id="newPassInput2" placeholder="New Password">
      <button class="waves-effect btn right" (click)=this.changePassword()>Accept</button>
    </div>
    <br>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #changeEmailModal identifier="changeEmailModal" customClass="large-modal">
  <div class="row">
    <h4 class="center">Change eMail</h4>
    <br>
    <br>
    <a>

    </a>
    <div class="col s8 center offset-s2">
      <a class="left">Type your <strong>NEW</strong> eMail</a>
      <input type="email" id="newEmail1" placeholder="New eMail">
      <a class="left">Retype your <strong>NEW</strong> eMail</a>
      <input type="email" id="newEmail2" placeholder="New eMail">
      <!-- <a class="left">Type your <strong>OLD</strong> eMail</a>
      <input type="text" placeholder="Old eMail"> -->
      <br>
      <br>
      <a class="left">Type your password</a>
      <input type="password" id="password" placeholder="Password">
      <br>
      <br>

      <button class="waves-effect btn right">Accept</button>
    </div>
    <br>
  </div>
</ngx-smart-modal>



<div class="row col s12">
  <div class="col s2 scrollableLeftBarDiv">
    <!-- <div class="scrollableLeftBarDiv-content" style="margin-bottom: 13vh; color:#353535"> -->
    <div class="scrollableLeftBarDiv-content" style="margin-bottom: 13vh;">
        <h5 class="center" style="color:#E38930; "><strong>{{user}}</strong></h5>
      <h6 class="center">Account Settings</h6>
      <br>
      <div class=" col s12 offset-s1 ">
        <table class="highlight " style="cursor: pointer;font-size:16px">
          <!-- <br>
          <tr class="center metaPointer" (click)="logOut()">Log Out</tr> -->
          <br>
          <h6><strong>Change settings</strong></h6>
          <br>
          <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('changePasswordModal').open()">Change Password</tr>
          <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('changeEmailModal').open()">Change eMail</tr>
          <br><br>
          <h6><strong>Delete data</strong></h6><br>
          <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('deleteFilesModal').open()">Delete All Files</tr>
          <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('deleteJobsModal').open()">Delete All Jobs</tr>
          <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('deleteAccountModal').open()">Delete Account</tr>

        </table>
      </div>
    <br>
    <br>
    <!-- <div>
      <div id="diskWidget" class="col s10 push-s1">
        <h6 class="left">{{diskusage}}</h6>
      </div>
    </div> -->

    </div>
  </div>

  
  <div class="col s10 offset-s2 center" >
    <div class="row s12" style="background-color: #1fa4ae; height: 5%">
      <div class="row col s6" style="display: inline-block; font-size: 2.1rem; padding: 0;">
        <h5 class="center" style="color: #fff; ">My Files</h5>
      </div>
      <div class="row col s6" style="display: inline-block; font-size: 2.1rem; padding: 0;">
        <h5 class="center" style="color: #fff; ">My Jobs</h5>
      </div>
    </div>
    <div class="row s12">
      <div class="row col s6">
        <div class="col s12  center" style="color:#939393; margin-top: 0vh; text-align: center">
          <p><b>This is your personal folder</b> <br>
              You can upload files to meta-analyze and create new folders to keep them organized.<br>

          <b>To create new folders</b>, type the name on the box below and press "Create folder". <br>

          <b>To upload files</b> into a folder, navigate to the folder and press "Upload files". 

          Uploading files to the root folder is not allowed, please <b>create at least one folder</b> to contain your files.</p>

          <h5><b>If you do not have data you can test the tool <a href="https://gitlab.com/ubb-cipf/metafunpipeline/-/blob/master/metafun_sample_data.zip" target="_blank">downloading these dataset</a></b></h5>
        </div>
        <div id="fileBrowserUserDiv" class="col s12 " style="margin-top: 2vh">
          <!-- <app-file-browser class="col s12"></app-file-browser> -->
          <app-file-manager class="col s12"></app-file-manager>
        </div>
      </div>
      <div class="col s6">
        <div id="jobsInfoUserDiv" class="col s11 offset-s1" style="margin-top: 4vh">
          <table name="jobsTable" class="responsive-table highlight" style="color:#545454">
            <thead>
              <tr>
                <th style="cursor: pointer"><i (click)="this.printAnalysis()" class="material-icons">more_horiz</i></th>
                <th class="center">Launch Date</th>
                <!--<th class="center">Effect Model</th>-->
                <!--<th class="center">Functional Analysis</th>-->
                <!--<th class="center">Organism</th>-->
                <th class="center">Studies</th>
                <th class="center">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let job of jobs;  let i=index" ngSwitch={{job.status}}>
                <tr>
                  <td *ngIf="job.status==1"><a> {{job.name}} </a></td>
                  <!-- <td *ngIf="job.status==1" style="color:black"><b>{{job.name}}</b></td> -->
                  <td *ngIf="job.status!=1" style="color:#939393">{{job.name}}</td>
                  <td class="center"> {{job.createdAt.toLocaleString()}}  </td>
                  <!--<td class="center"> {{job.effectModel.replace('-','')}} </td>-->
                  <!--<td class="center"> {{job.functional.replace('-','')}}  </td>-->
                  <!--<td class="center"> {{job.organism.replace('-','')}}    </td>-->
                  <td class="center" id="studies{{i}}"></td>
                  <td class="center" *ngSwitchCase="2"><i class="material-icons">error_outline</i></td>
                  <td class="center" *ngSwitchCase="1" style="color:#759752"><i class="material-icons">check</i></td>
                  <td class="center" *ngSwitchCase="0"><i class="material-icons">rotate_right</i></td>
                  <td *ngSwitchCase="0"><button class="material-icons btn disabled materialize-red" style="background-color:#acacac !important; color:white !important" (click)="this.deleteJob(i)">delete</button></td>
                  <td *ngSwitchCase="1"><button class="material-icons btn materialize-red" style="background-color:#D64933 !important" (click)="this.deleteJob(i)">delete</button></td>
                  <td *ngSwitchCase="2"><button class="material-icons btn materialize-red" style="background-color:#D64933 !important" (click)="this.deleteJob(i)">delete</button></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <!--<div id="navvBar" class="col s10 offset-s2" style="background-color: #1fa4ae; position: fixed">
    <nav>
      <div class="nav-wrapper" style="background-color: #1fa4ae">
        <ul id="nav-mobile" class="center">
          <li id="filesli" class="active"><a id="myFilesInfoButton" class="metaPointer" (click)="showfilesInfo()">My Files</a></li>
          <li id="jobsli"><a id="myJobsInfoButton" class="metaPointer" (click)="showJobsInfo()">My Jobs Info</a></li>
        </ul>
      </div>
    </nav>
  </div>-->
</div>
