<div id="scatterPlot" class="row col s6">
  <plotly-plot (afterPlot)="stopLoading()" class="col s12"
               [data]="plot.data"
               [layout]="plot.layout"
               [divId]= stdID
               [revision]="0"
               [debug]="debug"
               [useResizeHandler]="useResizeHandler">
  </plotly-plot>
</div>
