<div class="row col s12">
  <div class="col s2 scrollableLeftBarDiv">
    <div class="scrollableLeftBarDiv-content" style="margin-bottom: 13vh;">
      <h5 class="center"><strong>New Analysis</strong></h5>
      <!-- <br> -->
      <h6 class="center">Launch steps</h6>
      <!-- <br> -->
      <br>
      <div class=" col s12 offset-s1 center" style="border:0px;">
        <table class="highlight center" style="cursor: pointer; ">
          <tr >
            <th style="width: 2vh"></th>
            <th style="width: 2vh"></th>
            <th style="width: 12vh"></th>
            <th style="width: 5vh"></th>
          </tr>
          <tr id="stp0" style="font-size:18px; background-color:#F8E7C6; color:#BC7836; border-left: 10px solid #E38930; " (click)="prevStep(0)">
            <td></td>
            <td>0</td>
            <td>Files</td>
            <td><i class="material-icons">attach_file</i></td>
          </tr>
          <tr id="stp1" style="font-size:18px;" (click)="nextStep(1)">
            <td></td>
            <td>1</td>
            <td>Options</td>
            <td><i class="material-icons">settings</i></td>
          </tr>
          <tr id="stp2" style="font-size:18px;" (click)="nextStep(2)">
            <td></td>
            <td>2</td>
            <td>Studies</td>
            <td><i class="material-icons">rule</i></td>
          </tr>
          <tr id="stp3" style="font-size:18px;" (click)="nextStep(3)">
            <td></td>
            <td>3</td>
            <td>Comparison</td>
            <td><i class="material-icons">compare_arrows</i></td>
          </tr>
          <tr id="stp4" style="font-size:18px;" (click)="nextStep(4)">
            <td></td>
            <td>4</td>
            <td>Launch</td>
            <td><i class="material-icons">launch</i></td>
          </tr>
      </table>
      </div>
      
       </div>
  </div>

    <!-- STEP 0 -->
    <div id="step0Div" class="row col s10 offset-s2 center">
      <!-- <div class="row">
        <div class="col s6 offset-s3">
          <h3 class="metaTextAccent">Step 0: Files</h3>
          <h5 class="metaTextAccent">Check that files are already uploaded</h5>
        </div>
        <div class="col s3">
          <button class="waves-effect btn-large right" style="margin-right: 10vh; margin-top:5vh" (click)="this.nextStep(1)"><i class="material-icons right">navigate_next</i>Next step</button>
        </div>
      </div>
       -->
      <h3 class="metaTextAccent">Step 0: Files</h3>
      <h5 class="metaTextAccent" style="color: #939393">Check that files are already uploaded</h5>
      <div class="row col s12">
        <button class="waves-effect btn-large right" style="margin-right: 10vh" (click)="this.nextStep(1)"><i class="material-icons right">navigate_next</i>Next step</button>
      </div>
      <br>
      <div class="row col s12">
        <div class="row col s6">
          <h5 style="color:#454545">My files</h5>
          <app-file-browser class="col s12"></app-file-browser>
        </div>
        <div class="col s4 offset-s1"  style="color:#454545"><br><br>
          <h5>Launch steps</h5>
          <p style="color:#939393"> Please follow theses steps to complete the new meta-analysis launching process</p>
          <table>
              <tr>
                  <th style="width: 10vh"></th>
                  <th></th>
              </tr>
              <tr>
                  <td style="font-weight: bold;">Step 0</td>
                  <td>Manage or upload your files if you need to.</td>
              </tr>
              <tr>
                  <td style="font-weight: bold;">Step 1</td>
                  <td>Select the meta-analysis method, the functional characterization options & the organism of interest.</td>
              </tr>
              <tr>
                  <td style="font-weight: bold;">Step 2</td>
                  <td>Select the expression files and the respective experiment design file for each one.</td>
              </tr>
              <tr>
                  <td style="font-weight: bold;">Step 3</td>
                  <td>Select the comparison you want to make (Case vs Control or Sex Difference Comparison) & which of your
                      phenotype-tags match ours.</td>
              </tr>
              <tr>
                  <td style="font-weight: bold;">Step 4</td>
                  <td>Check your selected options, select job's name & launch your meta-analysis.</td>
              </tr>
          </table>
      </div>
      </div>
        
    </div>



  <!-- STEP 1 -->
  <div id="step1Div" class="row col s10 offset-s2 center hide">

    <h3 class="metaTextAccent">Step 1: Options</h3>
    <h5 class="metaTextAccent" style="color: #939393">Select meta-analysis options</h5>
    <div class="row col s12">
      <button class="waves-effect btn-large right" style="margin-right: 10vh" (click)="this.nextStep(2)"><i class="material-icons right">navigate_next</i>Next step</button>
      <button class="waves-effect btn-large left" style="margin-right: 10vh" (click)="this.prevStep(0)"><i class="material-icons left">navigate_before</i>Previous step</button>
    </div>

    <br>
    <div class="row col s4">
      <div class="blue-grey"><a style="color: white"><h5>Meta-Analysis Method</h5></a></div>
      <div class="row col s10 offset-s1">
        <div class="row left-align">
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioMethod" checked="true">
              <span class="metaTextAccent">Random Effect Model</span>
            </label>
          </p>
          <p class="col s12">
            <label>
              <input type="radio" name="radioMethod">
              <span class="metaTextAccent">Fixed Effect Model</span>
            </label>
          </p>
        </div>
      </div>
        <div class="row col s10 offset-s1" style=" text-align: justify; color: #939393">
            <ul>
                <li>
                    The <strong>Random Effect Model</strong> is recommended when the heterogeneity of the studies is high.
                </li>
                <br>
                <li>
                    The <strong>Fixed Effect Model</strong> is recommended when the studies are homogeneous.
                </li>
            </ul>
        </div>
    </div>
    <div class="col s4">
      <div class="blue-grey"><a style="color: white"><h5>Functional Characterization</h5></a></div>
      <div class="row col s10 offset-s1">
        <div class="row left-align">
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioFunctional" checked="true">
              <span class="metaTextAccent">GSA</span>
            </label>
            <label class="col s12 offset-s2">
              <br>
              <input type="checkbox" id="checkBP" checked="true">
              <span class="metaTextAccent">Biological Process</span>
            </label>
            <label class="col s12 offset-s2">
              <input type="checkbox" id="checkMF">
              <span class="metaTextAccent">Molecular Function</span>
            </label>
            <label class="col s12 offset-s2">
              <input type="checkbox" id="checkCC">
              <span class="metaTextAccent">Cellular Component</span>
              <br>
            </label>

            <label class="col s12 offset-s2">
              <br>
              <input type="radio" name="radioPropagate" checked="true">
                <span class="metaTextAccent">Propagate&nbsp;&nbsp;
                  <i class="tiny material-icons tooltip top">help
                    <span class="tiptext">&nbsp;&nbsp;Should annotations be propagated?<br><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;YES: You will get more results but less specific&nbsp;&nbsp;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO: You will get less results but more specific&nbsp;&nbsp;
                    </span>
                  </i>
                </span>
            </label>
            <label  class="col s12 offset-s2">
              <input type="radio" name="radioPropagate">
              <span class="metaTextAccent">Do not propagate&nbsp;&nbsp;
                 <i class="tiny material-icons tooltip top">help
                    <span class="tiptext">&nbsp;&nbsp;Should annotations be propagated?<br><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;YES: You will get more results but less specific&nbsp;&nbsp;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO: You will get less results but more specific&nbsp;&nbsp;
                    </span>
                 </i>
              </span>
            </label>
          </p>
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" disabled="disabled" name="radioFunctional">
              <span class="metaTextAccent" style="color: grey; cursor: default">Hipathia (Comming Soon)</span>
            </label>
          </p>
        </div>
      </div>
        <div class="row col s12" style=" text-align: justify; color: #939393">
            <h6><strong>GSA or Hipathia?</strong><br></h6>
            <div>
                &emsp;The <strong>Gene Set Analysis</strong> will result in a list of infra or overrepresented functions as GO terms which will be meta-analyzed.<br><br>
                &emsp;You can choose if you want information from the three different ontologies:
                <div></div>
                <ul>
                    <li>&emsp;Biological Process.</li>
                    <li>&emsp;Molecular Function.</li>
                    <li>&emsp;Cellular Component.</li>
                </ul><br>
                <strong>Hipathia</strong> is a method for the computation of signal transduction along signaling pathways from transcriptomic data.
                <br><br>
                <!-- <h6><strong>Should I propagate the annotations?</strong><br></h6>
                <ul>
                    <li>&emsp;If you <strong>do</strong> propagate the GO Terms you will get more results but less specific.</li>
                    <li>&emsp;If you <strong>do not</strong> propagate the GO Terms you will get less results but more specific.</li>
                </ul> -->
            </div>

        </div>
    </div>
    <div class="col s4">
      <div class="blue-grey"><a style="color: white"><h5>Reference Organism</h5></a></div>
      <div class="row col s8 offset-s1">
        <div class="row left-align">
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioReference" checked="true">
                <span class="metaTextAccent"><i>Homo sapiens</i></span>
            </label>
          </p>
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioReference">
                <span class="metaTextAccent"><i>Mus musculus</i></span>
            </label>
          </p>
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioReference">
                <span class="metaTextAccent"><i>Rattus norvegicus</i></span>
            </label>
          </p>
        </div>
        <br><br>
        <div class="col s12 hide">
          <p>
            <label class="stv-control">
              <input type="radio" name="radioReference">
              <span class="metaTextAccent">Other Organism</span>
              <input type="file"/>
            </label>
          </p>
        </div>
      </div>
    </div>
  </div>

    <!-- STEP 2 -->
  <div id="step2Div" class="row col s10 offset-s2 center hide">
      <h3 class="metaTextAccent">Step 2: Studies</h3>
      <h5 class="metaTextAccent" style="color: #939393">Select the studies to meta-analyze</h5>
      <div class="row col s12">
            <button class="waves-effect btn-large right" style="margin-right: 10vh" (click)="this.nextStep(3)"><i class="material-icons right">navigate_next</i>Next step</button>
            <button class="waves-effect btn-large left" style="margin-right: 10vh" (click)="this.prevStep(1)"><i class="material-icons left">navigate_before</i>Previous step</button>
        </div>
        <br>
        <div class="col s12 center metaBackground">
          <div class="col s4">
            <div class="col s8 scrollableLeftBarDiv" style="background-color: white; height: 75vh; color:#454545; position:static;">
              <div class="blue-grey"><a style="color: white"><h5>My Files</h5></a></div>
              <!-- <h4 class="center">My Files</h4> -->
                <div class="scrollableLeftBarDiv-content" style="margin-bottom: 13vh; background-color: whitesmoke">
                    <div
                            id="allList"
                            cdkDropList
                            [cdkDropListData]="allNamesFiles"
                            [cdkDropListConnectedTo]="['csvList', 'ddfList']"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)"
                            [cdkDropListEnterPredicate]="noReturnPredicate">
                    <div
                            class="example-box-on-left-bar"
                            *ngFor="let item of allNamesFiles"
                            [cdkDragData]="item"
                            [cdkDragDisabled] = "item.disabled"
                            cdkDrag>{{item.value}}
                        <i class="material-icons small">{{item.icon}}</i>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col s8 pull-s1">
          <p class = "center" style="color:#939393">
          Drag the Expression and Experimental Design files to meta-analyze from your personal folder to the corresponding areas. <br>
          Place in the same row Expression and Experimental Design files from the same study.
        </p>
            <div class="col s5">
                <div class="example-container">
                  <div class="blue-grey"><a style="color: white"><h5>Expression</h5></a></div>
                  <!-- <h4 class="center metaTextAccent">Expression Files</h4> -->
                    <div
                            id="csvList"
                            cdkDropList
                            [cdkDropListData]="csvNamesFiles"
                            [cdkDropListConnectedTo]="['allList']"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)"
                            [cdkDropListEnterPredicate]="isCSVPredicate">
                        <div
                                class="example-box"
                                *ngFor="let item of csvNamesFiles"
                                cdkDrag
                                [cdkDragData]="item">{{item.value}}
                            <i class="material-icons small">{{item.icon}}</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s2" style="margin-top: 5%;padding-left: 4.5rem;padding-right: 0px;">
              <div class="center">
              <table>
                <thead><tr><a class="center metaTextAccent">Matched</a></tr></thead>
                <tbody>
                  <tr *ngFor = "let resp of this.resps" class="center">
                    <td *ngIf="resp == 'true'" style="cursor:default;text-align: center;" class="example-box center"><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons" style="cursor:default;  text-align: center;">check</i></a></td>
                    <td *ngIf="resp == 'false'" style="cursor:default;text-align: center;" class="example-box center"><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i style="cursor:default;" class="material-icons">clear</i></a></td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
            <div class="col s5 push-s1">
                <div class="example-container">
                  <div class="blue-grey"><a style="color: white"><h5>Experimental Design</h5></a></div>
                  <!-- <h4 class="center metaTextAccent">Experimental Design</h4> -->
                    <div
                            id="ddfList"
                            cdkDropList
                            [cdkDropListData]="ddfNamesFiles"
                            [cdkDropListConnectedTo]="['allList']"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)"
                            [cdkDropListEnterPredicate]="isDDFPredicate">
                        <div
                                class="example-box"
                                *ngFor="let item of ddfNamesFiles"
                                cdkDrag
                                [cdkDragData]="item">{{item.value}}
                            <i class="material-icons small">{{item.icon}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

    <!-- STEP 3 -->
    <div id="step3Div" class="row col s10 offset-s2 center hide" style="color:#454545">
      <h3 class="metaTextAccent">Step 3: Comparison</h3>
      <h5 class="metaTextAccent" style="color: #939393">Select comparison & labels</h5>
      <div class="row col s12">
            <button class="waves-effect btn-large right" style="margin-right: 10vh" (click)="this.nextStep(4)"><i class="material-icons right">navigate_next</i>Next step</button>
            <button class="waves-effect btn-large left" style="margin-right: 10vh" (click)="this.prevStep(2)"><i class="material-icons left">navigate_before</i>Previous step</button>
        </div>
    <!-- </div>
  <div id="experimentalDiv" class="row col s10 offset-s2 center hide" style="color:#454545"> -->
    <div class="col s12 center metaBackground">
      <div class="col s12">
        <div class="col s6 center offset-s3">
          <div class="blue-grey"><a style="color: white"><h5>Comparison</h5></a></div>
          <!-- <h5 style="text-align: center; color:#454545">Comparison</h5> -->
          <!-- <h6 style="text-align: center; color:#939393">Select the comparison to perform in the analysis:</h6> -->
          <select class="browser-default" id="compareOptionsCombo" onchange="comboChanged()" style="margin-top:2vh">
            <option value="CS">Case vs. Control</option>
            <option value="GENDER">(Case Female vs. Control Female) vs. (Case Male vs. Control Male)</option>
          </select>
        </div>
        <div class="col s12" style="margin-top:6vh">
          <div class="blue-grey"><a style="color: white"><h5>Labels</h5></a></div>
          <p style="color: #939393">For each study, select the study-specific labels which will be considered as the meta-analysis comparison labels</p>
          <!-- <h5 style="text-align: center; color:#454545">Labels</h5> -->
          <!-- <h6 style="text-align: center; color:#939393">Select the study labels to be used in the analysis:</h6> -->
          <table id="compareOptionsTable" style="margin-top: 3vh;">
            <thead id="optionsTableHead">
            <th style="color:#454545">
              CSV File
            </th>
            <th>
              Case
            </th>
            <th>
              Control
            </th>
            </thead>
            <tbody id="compareOptionsTableBody">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    <!-- STEP 4 -->
  <div id="step4Div" class="row col s10 offset-s2 center hide">
    <h3 class="metaTextAccent">Step 4: Launch</h3>
    <h5 class="metaTextAccent" style="color: #939393">Check meta-analysis summary & launch job</h5>
      <div class="row col s12">
        <button class="waves-effect btn-large left" style="margin-right: 10vh" (click)="this.prevStep(3)"><i class="material-icons left">navigate_before</i>Previous step</button>
      </div>
      <br><br><br>
      <div class="row">
          <div class="col s4 offset-s1">
              <div class="blue-grey"><a style="color: white"><h5>Selected Options</h5></a></div>
              <div id="optionsDiv">
                  <table class="table">
                    <tr>
                        <td><strong>Meta-Analysis method:</strong> </td>
                      <td id="metamethodRow">{{metaMethodS}}</td>
                    </tr>
                    <tr>
                        <td><strong>Functional Characterization:</strong></td>
                        <td id="functionalRow">{{funcharS}}</td>
                    </tr>
                    <tr>
                        <td><strong>Ontologies:</strong></td>
                        <td>{{ontologiesS}}</td>
                    </tr>
                    <tr>
                        <td><strong>Propagate:</strong></td>
                        <td>{{propagateS}}</td>
                    </tr>
                    <tr>
                        <td><strong>Reference Organism:</strong></td>
                        <td id="organismRow"><i>{{refOrganismS}}</i></td>
                    </tr>
                  </table>
              </div>
          </div>
        <div class="col s4 offset-s2">
            <div class="blue-grey"><a style="color: white"><h5>Selected Studies</h5></a></div>
            <div id="dataDiv">
                <table id="tableDataDiv">
                    <tr>
                        <td><h6><strong>Expression File</strong></h6></td>
                        <td style="text-align: center"><h6><strong>Experiment Design File</strong></h6></td>
                    </tr>
                    <tr *ngFor="let c of csvNamesFiles; let i = index">
                        <td>{{c.file.name}}</td>
                        <td>{{ddfNamesFilesS[i]}}</td>
                    </tr>
                </table>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col s10 offset-s1">
            <div class="blue-grey"><a style="color: white"><h5>Selected Comparison</h5></a></div>
            <div id="comparisonDiv">
                <h5> You have selected <strong>{{designS}}</strong> contrast</h5>
                <br>
                <table>
                    <tr *ngIf="designS === 'Case vs Control'">
                        <td><strong>Study</strong></td>
                        <td><strong>Case</strong></td>
                        <td><strong>Control</strong></td>
                    </tr>
                    <tr *ngIf="designS !== 'Case vs Control'">
                        <td><strong>Study</strong></td>
                        <td><strong>Case Female</strong></td>
                        <td><strong>Control Female</strong></td>
                        <td><strong>Case Male</strong></td>
                        <td><strong>Control Male</strong></td>
                    </tr>
                    <tr *ngFor="let c of csvNamesFiles; let i = index">
                        <td *ngIf="designS === 'Case vs Control'">{{c.file.name}}</td>
                        <td *ngIf="designS === 'Case vs Control'">{{designValuesS[i]}}</td>
                        <td *ngIf="designS === 'Case vs Control'">{{designValuesSS[i]}}</td>
                    </tr>
                    <tr *ngFor="let c of csvNamesFiles; let i = index">
                        <td *ngIf="designS !== 'Case vs Control'">{{c.file.name}}</td>
                        <td *ngIf="designS !== 'Case vs Control'">{{designValuesS[i]}}</td>
                        <td *ngIf="designS !== 'Case vs Control'">{{designValuesSS[i]}}</td>
                        <td *ngIf="designS !== 'Case vs Control'">{{designValuesSSS[i]}}</td>
                        <td *ngIf="designS !== 'Case vs Control'">{{designValuesSSSS[i]}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col s10 offset-s1">
            <div class="blue-grey"><a style="color: white"><h5>Select Job's Name</h5></a></div>
            <div>
                <br>
                <input id="jobNameInput" maxlength="20" class="col s10" (keyup)="this.checkEmptyTextbox()" (keypress)="omit_special_char($event)" type="text" placeholder="Job Name">
                <button class="waves-effect btn right" disabled=true id="launchButton" >Launch Job</button>
            </div>
        </div>
      </div>
  </div>
</div>

