<div class="col s12">
  <h4 class="center">Gene Set Analysis</h4> 
  <br>
</div>
<div class="row">
  <div class="row s10 push-s1 pull-s1">
    <div class="col s10 push-s1 pull-s1">
      <div class="input-field col s3">
        <select class="browser-default" id="gseaStudySelect">
          <option value="" disabled selected>Choose your study</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label></label>
      </div>
      <div class="input-field col s2">
        <button id="downloadGSEAButton" class="waves-effect btn" style=" z-index:0; margin-top: 7px" title="Download full table of selected study results">
          <i class="material-icons right">file_download</i>Download</button>
      </div>
      <div class="input-field offset-s2 col s2">
        <input type="text" id="search-inputGSA" class="autocomplete" [ngModel]="searchVal" (ngModelChange)="checkSearchVal()" placeholder="Search" title="Search gene ID or name">
        <i class="material-icons prefix">search</i>
      </div>
      <div class="input-field offset-s1 col s2">
        <input type="text" id="filter-inputPGSA" class="autocomplete" [ngModel]="searchPVal" (ngModelChange)="checkSearchPVal()" placeholder="Max P-value" title="Filter out genes with Adjusted p-value greater than specified">
        <i class="material-icons prefix">short_text</i>
      </div>
      <!-- <button id="downloadGSEAButton" class="waves-effect btn" style="margin-top: 18px">Download Full Results</button> -->
    </div>
  </div>
  <nav>
    <div class="nav-wrapper"  style="background-color: #e7eef1;">
      <a class="brand-logo" style="font-size: 20px; color:#7099AC;"><strong>&nbsp;&nbsp;&nbsp;&nbsp; ONTOLOGIES</strong></a>
      <ul id="nav-mobile" class="right">
        <li id="bpTab" class="active" (click)="changeOntology('bp')"><a class="metaPointer" style="color:#7099AC;">Biological Process (BP)</a></li>
        <li id="mfTab" (click)="changeOntology('mf')"><a class="metaPointer" style="color:#7099AC;">Molecular Function (MF)</a></li>
        <li id="ccTab" (click)="changeOntology('cc')"><a class="metaPointer" style="color:#7099AC;">Cellular Component (CC)</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <div id="gseaTables">
  </div>
</div>