<div class="row">
  <div style="vertical-align: center; margin-top: 5vh" class="col s6 center">
    <img src="../../metafun/assets/images/metafun.jpeg" height="130vh" style="margin-top: 15vh; margin-bottom: 10vh;"/>
    <p class="homeText">
      <b>META</b>-ANALYSIS <br>OF <b>FUN</b>CTIONAL PROFILES
    </p>
    <p>
      MetaFun is a web tool for the integration and functional characterization <br> of omic studies with meta-analysis
      techniques
    </p>
  </div>
  <div style="margin-top: 15vh" class="col s2 offset-s2">
    <p class="center metaTextAccent" style="font-size: 20px">Login</p>
    <div class="center">
      <form [formGroup]="formLogIn" (ngSubmit)="onSubmit() ">
        <div *ngIf="mostrarError" class="alert alert-danger" role="alert">
        </div>
        <div class="row">
          <div class="col-md-3">
            <label class="metaTextAccent" style="font-size: 16px">Mail: </label>
          </div>
          <div class="col-md-3">
            <input type="text" name="eMail" formControlName="eMail">
          </div>
        </div>
        <div class="row">
          <div>
            <label class="metaTextAccent" style="font-size: 16px">Password: </label>
          </div>
          <div>
            <input type="password" name="pass" formControlName="pass">
          </div>
        </div>

        <div class="row">
          <div>
            <button class="waves-effect btn center" type="submit">Log In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
