<div class="row">
  <h3 class="metaTextAccent center">Upload New Data</h3>
  <div class="col s12" style="margin-top: 50px;">
    <div class="col s6" id="expressionMatrixInputDiv">
      <div class="">
        <input type="file" class="metainput" id="realCSVInput">
        <label style="margin-left: 10px" for="exprMatInput" class="btn waves-effect">
          <span>Browse Files</span>
        </label>
        <a class="center" id="csvInfoA">Select an Expression Matrix</a>
        <span class="">
        <input type="file" name="exprMatInput" id="exprMatInput">
      </span>
        <div>
          <br>
          <a>Data Technology</a>
          <br>
          <select id="techSelection" class="browser-default col s6">
            <option>MicroArray</option>
            <option>RNA-Seq</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col s6" id="experimentalDesignInputDiv">
      <input type="file" class="metainput" id="realDDFInput" (click)="ddInfoChange()">
      <label style="margin-left: 10px" for="expDesInput" class="btn waves-effect">
        <span>Browse Files</span>
      </label>
      <a class="center" id="ddfInfoA">Select an Experimental Design</a>
      <span class="">
        <input type="file" name="expDesInput" id="expDesInput">
      </span>
    </div>
  </div>
</div>
<div class="row col s12">
  <br>
  <button id="real-input" class="waves-effect btn center">Upload Data</button>
</div>
