<div class="navbar-fixed">
  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <div class="nav-wrapper metaBlack">

      <a href="/metafun" style="margin-left: 30px" class="brand-logo metaBlack"><i class="material-icons">all_inclusive</i>MetaFun</a>

      <ul class="right hide-on-med-and-down metaBlack" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['metafun/newjob']" [routerLinkActive]="'active'">New Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['metafun/jobspage']" [routerLinkActive] ="'active'">My Jobs</a>
        </li>
        <li class="nav-item-login">
          <a class="nav-link" id="logInButton" [routerLink]="['metafun/login']" [routerLinkActive] ="'active'">Log In</a>
        </li>
        <li class="nav-item-login">
          <a class="nav-link"  id="signUpButton" [routerLink]="['metafun/signup']" [routerLinkActive] ="'active'">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logoutButton" (click)="this.logOut()"><i class="material-icons">logout</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://gitlab.com/ubb-cipf/metafunweb/-/wikis/Summary" [routerLinkActive] ="'active'"><i class="material-icons">help_outline</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
