<div class="row">
  <div class="col s2 scrollableLeftBarDiv">
    <h5 class="center"><strong>My Jobs</strong></h5>
    <h6 class="center">List</h6>
    <br>
    <!-- <div class=" col s11 offset-s1 center"> -->
    <div class=" col s12 offset-s1 center">
      <table name="jobsTable" class="responsive-table highlight" style="font-size:16px;" >
      <thead>
      <tr>
        <th style="width: 2vh"></th>
        <th style="width: 10vh"></th>
        <th style="width: 10vh" class="center">Status</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let job of files;  let i=index" ngSwitch={{job.status}} >
        <tr id="{{'job'+i}}" class="metaPointer" *ngIf="job.status==1" (click)="this.jobShowResults(i)">
          <td></td>
          <td>{{job.name}} </td>
          <td class="center" style="color:#109980"><i class="material-icons">check</i></td>
        </tr>
        <tr id="{{'job'+i}}" *ngIf="job.status==0">
          <td></td>
          <td style="color:#999080;"> {{job.name}} </td>
          <td class="center" style="color:#BC7836"><i class="material-icons">rotate_right</i></td>
        </tr>
        <tr id="{{'job'+i}}" *ngIf="job.status==2">
          <td></td>
          <td style="color:#999080;"> {{job.name}} </td>
          <td class="center" style="color:#D64933"><i class="material-icons">error_outline</i></td>
        </tr>
      </ng-container>
      </tbody>
      </table>
    </div>
  </div>
  <div id="analysisResultsDiv" class="hide">
    <div class="scrollableDiv row col s10 push-s2 active" id="summaryAnalysis" style="height: 100%;margin-top: 9vh">
      <app-summary [selectedAnalysis]=selectedAnalysis></app-summary>
    </div>
    <div class="scrollableDiv row col s10 push-s2 hide" id="exploratoryAnalysis" style="height: 100%;margin-top: 9vh">
      <app-exploratory-analysis [selectedAnalysis]=selectedAnalysis [loadData]=loadExploratory></app-exploratory-analysis>
    </div>
    <div class="scrollableDiv row col s10 push-s2 hide" id="differentialExpression" style="height: 100%;margin-top: 9vh">
      <app-diff-expresion [selectedAnalysis]=selectedAnalysis [loadData] = loadDiffExp></app-diff-expresion>
    </div>
    <div class="scrollableDiv row col s10 push-s2 hide" id="geneSetAnalysis" style="height: 100%;margin-top: 9vh">
      <app-gsea-table [hidden]="!isGSEA" [loadData]=loadFunc [gseaFlag]="isGSEA" [selectedAnalysis] = selectedAnalysis></app-gsea-table>
      <app-hipathia-table [hidden]="isGSEA" [loadData]=loadFunc [gseaFlag]="isGSEA" [selectedAnalysis]= selectedAnalysis ></app-hipathia-table>
    </div>
    <div class="scrollableDiv row col s10 push-s2 hide" id="metaAnalysis" style="height: 100%;margin-top: 9vh">
      <app-meta-table [selectedAnalysis] = selectedAnalysis [loadData]=loadMeta></app-meta-table>
    </div>
  </div>
  <div id="analysisResults" class="col s10 offset-s2" style="background-color: #1fa4ae; position: fixed">
    <nav>
      <div class="nav-wrapper" style="background-color: #1fa4ae">
        <a class="brand-logo push-s1">  <a style="color:#c7dfe0">Results</a> &nbsp; <b> {{selectedAnalysis}}</b></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="summaryli"><a id="summaryButton" (click)="showSummary()" class="metaPointer">1. Analysis Summary</a></li>
          <li id="exploratoryli"><a id="exploratoryButton" (click)="showExploratory()" class="metaPointer">2. Exploratory Analysis</a></li>
          <li id="diffexpli"><a id="diffExpButton" (click)="showDiffExp()" class="metaPointer">3. Differential Expression</a></li>
          <li id="gseali"><a id="GSEAButton" (click)="showGSEA()" class="metaPointer">4. {{functionalAnalysis}}</a></li>
          <li id="metali"><a id="metaAnalysisButton" (click)="showMeta()" class="metaPointer">5. Meta-Analysis</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div id="selectAnalysisprompt" >
  <h3 style="margin-left: 33%; margin-top: 10%; color:grey">Please select one analysis to get your results</h3>
</div>