<div>
  <div class="row s10 push-s1 pull-s1">
    <div class="col s10 push-s1 pull-s1">
      <h4 class="center">Differential Expression</h4> 
      <br>
      <div class="input-field col s3">
        <select class="browser-default" id="studySelect">
          <option value="" disabled selected>Choose your study</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="input-field col s2">
        <button id="downloadDiffExpButton" class="waves-effect btn" style=" z-index:0; margin-top: 7px" title="Download full table of selected study results">
          <i class="material-icons right">file_download</i>Download</button>
      </div>
      <div class="input-field col offset-s2 s2">
        <input type="text" id="search-inputDIF" class="autocomplete" placeholder="Search" [ngModel]="searchValDif" (ngModelChange)="checkSearchValDif()" title="Search gene ID or name">
        <i class="material-icons prefix">search</i>
      </div>
      <div class="input-field col offset-s1 s2">
        <input type="text" id="filter-inputPDIF" class="autocomplete" placeholder="Max P-value" [ngModel]="searchPValDif" (ngModelChange)="checkSearchPValDif()" title="Filter out genes with Adjusted p-value greater than specified">
        <i class="material-icons prefix">short_text</i>
      </div>

      <!-- <button id = "downloadDiffExpButton" class="waves-effect btn" style="margin-top: 18px">Download Full Results</button> -->
    </div>
  </div>

  <div id="difExpTables">
    <div class="input-field col offset-s1 s3">

    </div>
  </div>
</div>
