<div id="funnelPlot" class="row col s6">
  <plotly-plot class="col s12" [data]="funnelPlot.data" [layout]="funnelPlot.layout" [config]="funnelPlot.config" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
</div>
