<!-- <div>
  <h4 class="center">Exploratory Analysis</h4>
  <br>
  <nav>
      <div class="nav-wrapper"  style="background-color: #e7eef1;">
        <a class="brand-logo" style="font-size: 20px; color:#7099AC;"><strong>&nbsp;&nbsp; Analyzed studies</strong></a>
        <ng-container class="hide" *ngFor="let std of stdNames; let i=index">
          <ul id="nav-mobile" class="right">
            <li id="label{{i}}" (click)="loadDataModule(i)"><a class="metaPointer" style="color:#7099AC;"><i class="small material-icons left">collections</i>{{std}}</a></li>
          </ul>
          
      </ng-container>
    </div>
    
</nav>
<div id="graphsdiv" >
  
</div>
</div> -->


<div>
  <h4 class="center">Exploratory Analysis</h4>
  <h6 class="center" style="color: #939393"> Press on each study to see exploratory graphics</h6>
  <br>
  <ng-container class="hide" *ngFor="let std of stdNames; let i=index">
    <div>
      <h5 (click)=loadDataModule(i) class="center blue-grey" style="vertical-align: middle; color: white; cursor: pointer; height: 36px">{{std.toUpperCase()}}
        <button id="{{'open'+i}}" style="cursor: pointer; background-color: #E38930; z-index:0;" class="btn waves-effect right">
          <i class="small material-icons">collections</i>
        </button>
        <button id="{{'close'+i}}" style="cursor: pointer; background-color: #E38930; z-index:0;" class="btn waves-effect right hide">
          <i class="small material-icons">close</i>
        </button>
      </h5>
      <div id="graphsdiv{{i}}" class="hide">
        <app-scatter-plot [selectedAnalysis]=selectedAnalysis [stdID]=i [loadData]=loadData></app-scatter-plot>
        <!-- <app-scatter-plot3d [selectedAnalysis]=selectedAnalysis [stdID]=i [loadData]=loadData></app-scatter-plot3d> -->
        <app-box-plot [selectedAnalysis]=selectedAnalysis [stdID]=i [loadData]=loadData></app-box-plot>
        <app-clusterplot [selectedAnalysis]=selectedAnalysis [stdID]=i [loadData]=loadData></app-clusterplot>
        <br><br><br>
      </div>
    </div>
  </ng-container>
</div>
