<div>
  <div class="row s10 push-s1 pull-s1">
    <div class="col s10 push-s1 pull-s1">
      <div class="input-field col s5">
        <input type="text" id="search-input" class="autocomplete">
        <label for="search-input">Search</label>
        <i class="material-icons prefix">search</i>
      </div>
      <div class="input-field col offset-s1 s2">
        <input type="text" id="filter-input" class="autocomplete">
        <label for="filter-input">Max P-value</label>
        <i class="material-icons prefix">short_text</i>
      </div>
      <div class="input-field col offset-s1 s3">
        <select class="browser-default" id="hipathiaStudySelect">
          <option value="" disabled selected>Choose your study</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label></label>
      </div>
    </div>
  </div>
  <table name="myTable" class="responsive-table highlight"><thead>
  <tr>
    <th class="center">Pathway</th>
    <th class="center">Pathway Name</th>
    <th class="center metaPointer" id="upDownCol">Up/Down</th>
    <th class="center metaPointer" id="statCol">Statistic</th>
    <th class="center metaPointer" id="pvalCol">P Value</th>
    <th class="center metaPointer" id="adjPvalCol">Adjusted P value</th>
  </tr>
  </thead>
    <tbody>
    <ng-container *ngFor="let pathway of pathData; let link of links; let i=index">
      <tr>
        <td class="center"><a href="{{links[i]}}" target="_blank"> {{pathway.pathway}}</a> </td>
        <td> {{pathway.name}} </td>
        <td class="center"> {{pathway.upDown}} </td>
        <td class="center"> {{pathway.statistic.toExponential(4)}}</td>
        <td class="center"> {{pathway.pval.toExponential(4)}} </td>
        <td class="center"> {{pathway.adjpval.toExponential(4)}} </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

