<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>
<ngx-smart-modal #myModal identifier="myModal" [customClass]="'modal-820'">
  <div class="container" style="min-width: 500px; width: 700px">
    <div class="row">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           (onFileDrop)="fileDroped($event)"
           [uploader]="uploader" class="col-md-9" style="margin-bottom: 40px">

           <h4>Upload files to MetaFun</h4>
           <h6 style="color: #939393">Press the button or drag your files to add CSV or TSV files to the uploading list</h6>
           <h6 style="color: #939393">Select file type and press the UPLOAD button to upload your file</h6>
           <!-- <h6 style="color: #939393">Only CSV or TSV files are accepted </h6> -->
           <!-- <p>Queue length: {{ uploader?.queue?.length }}</p> -->
           <br>

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>File Type</th>
            <th class="center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            
            <td class="center"><strong>{{ item?.file?.name }}</strong>
              <div class="progress row col s12">
                <div id="progressBar{{item?.file?.name}}" class="determinate"></div>
              </div>
            </td>
            <td>
              <div class="">
                <select id="techInput{{item?.file?.name}}" class="browser-default" (change)='ableButton(item)'>
                  <option value="" selected disabled hidden>File Type</option>
                  <option value="MicroArray">Micro Array</option>
                  <option value="rnaSeq">RNA-seq</option>
                  <option value="ExperimentDesign">Experimental Design</option>
                </select>
              </div>
            </td>
            <td nowrap>
              <button id="uploadFilesButton{{item?.file?.name}}" title="Upload File" (click)="uploadFiles(item)" disabled=true class="waves-effect btn"><i class="material-icons">file_upload</i></button>

              <!-- <button type="button" class="btn" title="Upload File"
                      (click)="uploadFiles(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <i class="material-icons">file_upload</i>
              </button> -->
              <button type="button" class="btn" style="background-color: #D64933" title="Remove from list"
                      (click)="item.remove()">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="col-md-3">
          <button type="button" class="btn right" style="background-color: #D64933; margin-right: 30px;"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length" title="Remove all files from list">
            <i class="material-icons">delete_forever</i>
          </button>
          <h6 style="color: #939393">Remove all files from list</h6>
          <br><br>
          <input type="file" accept="text/tab-separated-values, text/csv" ng2FileSelect [uploader]="uploader" multiple  /><br/>
          
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>


<div class="row">
  <div class="col s12">
    <div class="col s12 fileManagerBar" id="fileNaver">

      <button id="backButton" title="Back to previous folder" class="waves-effect btn-small left" style="background-color:#7099AC; margin-top:2px;margin-bottom:2px;"><i class="material-icons">keyboard_return</i></button>
      <button id="reloadButton" title="Refresh files" class="waves-effect btn-small left" style="background-color:#7099AC; margin-top:2px;margin-bottom:2px;margin-left:4px"><i class="material-icons">sync</i></button>
     
      <a id="filesPath" class="metaNavBarText right" style=" margin-top:2px;margin-bottom:2px;margin-right:4px"></a>
    </div>
    <div id="fileManager" class="col s12 fileManager"></div>
    <div class="input-field col s12">
      <input class="col s5" id="folderName" title="Type name of the folder to be created in the current folder of My files" (keyup)="this.checkEmptyTextbox()" (keypress)="omit_special_char($event)" placeholder="New folder's name" type="text"/>
      <button class="row col s3 waves-effect btn" title="Create new folder in the current folder of My files" disabled=true style="margin-left: 5vh" id="addFolderButton">Create Folder</button>
      <button class="row col s3 waves-effect btn right" title="Press to start the loading process" style="margin-left: 10px" (click)="ngxSmartModalService.getModal('myModal').open()" id="uploadfilesButton">Upload files</button>
    </div>
  </div>
</div>
