

<ngx-smart-modal #infoModal identifier="infoModal" style="max-width: 800px;">
  <div class="col s12" style="margin-top: 10vh;">
    <div class="col s12 center">
      <a class="center">
        <ng-container *ngIf="infoModal.hasData()">
          <i *ngIf="infoModal.getData().format.match('csv')" class="material-icons large" style="color: #9AB3C1; font-size: 130px;">assignment</i>
          <!-- <i *ngIf="infoModal.getData().format.match('csv')" class="material-icons large"><img
              src="../../metafun/assets/images/csv_grey.png" height="115" width="107"/></i> -->
          <i *ngIf="infoModal.getData().format.match('tsv')" class="material-icons large" style="color: #9AB3C1; font-size: 130px;">note_alt</i>
          <!-- <i *ngIf="infoModal.getData().format.match('tsv')" class="material-icons large"><img
            src="../../metafun/assets/images/ddf_grey.png" height="98" width="72"/></i> -->
        </ng-container>
        
      </a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px" id="nameRowTag1"><h5 style="margin-top:2vh; color:#454545">{{infoModal.getData().name}}</h5></span>

        
    </div>
    <!-- <div class="col s12 offset-s1" style="margin-top: 5vh; font-size: 16px;">
      <a class="left"><b>Name: </b></a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px" id="nameRowTag1">{{infoModal.getData().name}}</span>
      <br>
      <br>
      <a class="left"><b>Size: </b></a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px" id="sizeRowTag1">{{this.bytesToSize(infoModal.getData().size.$numberLong)}}</span>
      <br>
      <br>
      <a class="left"><b id="Created">Upload Date: </b></a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px">{{infoModal.getData().createdAt}}</span>
      <br>
      <br>
      <a class="left"><b>Tech: </b></a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px">{{infoModal.getData().tech}}</span>
      <br>
    </div> -->
    <br>
    <div class="col s10 offset-s1" style="margin-top:2vh; font-size:16px">
      <table class="highlight center" style="color:#454545">
        <tr>
          <th style="width: 7vh"></th>
          <th style="width: 15vh"></th>
        </tr>
        <!-- <tr>
          <td style="font-weight: bold;">Name</td>
          <td><span *ngIf="infoModal.hasData()" style="margin-left: 4px" id="nameRowTag1">{{infoModal.getData().name}}</span></td>
        </tr> -->
        <tr>
          <td style="font-weight: bold;">Size</td>
          <td><span *ngIf="infoModal.hasData()" style="margin-left: 4px" id="sizeRowTag1">{{this.bytesToSize(infoModal.getData().size.$numberLong)}}</span></td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Uploaded</td>
          <td><span *ngIf="infoModal.hasData()" style="margin-left: 4px">{{infoModal.getData().createdAt}}</span></td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Technology</td>
          <td><span *ngIf="infoModal.hasData()" style="margin-left: 4px">{{infoModal.getData().tech}}</span></td>
        </tr>
      </table>
    </div>

    <div class="row col s12" style="margin-top: 13vh">
      <!--<button class="col s3 waves-effect btn left">Rename</button>-->
      <!--<button class="col s4 offset-s1 waves-effect btn center" (click) = "this.downloadFile()">Download</button>-->
      <button class="col s3 waves-effect btn right" (click)="this.deleteFile()" style="background-color: #D64933">Delete</button>
    </div>
  </div>
</ngx-smart-modal>


<div class="row">
  <div class="col s12">
    <!-- <app-file-browser ></app-file-browser> -->
    <app-file-browser (selectedFile)="printFile($event)"></app-file-browser>
  </div>
</div>
