<div class="row">
  <div style="vertical-align: center; margin-top: 5vh" class="col s6 center">
    <img src="../../metafun/assets/images/metafun.jpeg" height="130vh" style="margin-top: 15vh; margin-bottom: 10vh;"/>
    <p class="homeText">
      <b>META</b>-ANALYSIS <br>OF <b>FUN</b>CTIONAL PROFILES
    </p>
    <p>
      MetaFun is a web tool for the integration and functional characterization <br> of omic studies with meta-analysis
      techniques
    </p>
  </div>
  <div style="margin-top: 10vh" class="col s3 offset-s1">
    <p class="metaTextAccent center" style="font-size: 20px">
      Sign UP
    </p>
    <form [formGroup]="formSignUp" (ngSubmit)="onSubmit()">
      <div *ngIf="mostrarError" class="alert alert-danger" role="alert">
      </div>
      <div class="row">
        <div class="col-md-3 labelDerecha">
          <label class="metaTextAccent" style="font-size: 16px">Name: </label>
        </div>
        <div class="col-md-9">
          <input type="text"  name="name" formControlName="name">
        </div>
      </div>
      <div class="row">
        <div>
          <label class="metaTextAccent" style="font-size: 16px">Mail: </label>
        </div>
        <div>
          <input type="email" formControlName="mail">
        </div>
      </div>
      <div class="row">
        <div>
          <label class="metaTextAccent" style="font-size: 16px">Repeat Email: </label>
        </div>
        <div>
          <input type="email" formControlName="rmail">
        </div>
      </div>
      <div class="row">
        <div>
          <label class="metaTextAccent" style="font-size: 16px">Password: </label>
        </div>
        <div>
          <input type="password" formControlName="pass">
        </div>
      </div>
      <div class="row">
        <div>
          <label class="metaTextAccent" style="font-size: 16px">Repeat Password: </label>
        </div>
        <div>
          <input type="password" formControlName="rpass">
        </div>
      </div>
      <div class="row center">
        <div>
          <button type="submit" class="waves-effect btn">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--

<div>
  <p class="metaTextAccent center" style="font-size: 20px">
    Sing UP
  </p>
  <form [formGroup]="formSignUp" (ngSubmit)="onSubmit()">
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">
    </div>
    <div class="row">
      <div class="col-md-3 labelDerecha">
        <label class="metaTextAccent" style="font-size: 16px">Name: </label>
      </div>
      <div class="col-md-9">
        <input type="text"  name="name" formControlName="name">
      </div>
    </div>
    <div class="row">
      <div>
        <label class="metaTextAccent" style="font-size: 16px">Mail: </label>
      </div>
      <div>
        <input type="email" formControlName="mail">
      </div>
    </div>
    <div class="row">
      <div>
        <label class="metaTextAccent" style="font-size: 16px">Repeat Email: </label>
      </div>
      <div>
        <input type="email" formControlName="rmail">
      </div>
    </div>
    <div class="row">
      <div>
        <label class="metaTextAccent" style="font-size: 16px">Password: </label>
      </div>
      <div>
        <input type="password" formControlName="pass">
      </div>
    </div>
    <div class="row">
      <div>
        <label class="metaTextAccent" style="font-size: 16px">Repeat Password: </label>
      </div>
      <div>
        <input type="password" formControlName="rpass">
      </div>
    </div>
    <div class="row center">
      <div>
        <button type="submit" class="waves-effect btn">Sign Up</button>
      </div>
    </div>
  </form>
</div>-->
<app-footer></app-footer>
