<!-- <div>
  <h4 class="center">Meta-Analysis <button id="downloadMetaButton" class="waves-effect btn right">Download Full Results</button></h4>
  <app-documentacion [selectedAnalysis]="_selectedAnalysis"></app-documentacion>
</div> -->
<div class="row s10 push-s1 pull-s1">
  <div class="col s10 push-s1 pull-s1">
    <h4 class="center">Meta-Analysis</h4> 
    <h6 class="center" style="color: #939393"> Showing Top 20 results. Download table for full results.</h6>

    <div class="input-field col s2 push-s11">
      <button id="downloadMetaButton" class="waves-effect btn" style="z-index:0; margin-top: 7px"><i class="material-icons right">file_download</i>Download</button>
    </div>
</div>
  <app-documentacion [selectedAnalysis]="_selectedAnalysis"></app-documentacion>
</div>
