<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>
<div class="row">

  <div class="col s2 scrollableLeftBarDiv">
    <table id="tableDiv">
      <thead id="fileInfoTableHead"><h5 class="metaTextAccent center">File Info</h5></thead>
      <tbody>
      <tr>
        <p class="metaTextAccent">Name: </p>
        <p style="padding-left: 2.5em;" id="nameRow" class=""></p>
        <input type="text" id="renameInput" class="hide">
      </tr>
      <tr>
        <p class="metaTextAccent">Type: </p>
        <p style="padding-left: 2.5em;" id="typeRow"></p>
      </tr>
      <tr>
        <p class="metaTextAccent">Upload Date: </p>
        <p style="padding-left: 2.5em;" id="dateRow"></p>
      </tr>
      <tr>
        <p class="metaTextAccent">Size: </p>
        <p style="padding-left: 2.5em;" id="sizeRow"></p>
      </tr>
      <tr class="hide" id="tagTR">
        <p class="metaTextAccent">Tags: </p>
        <p style="padding-left: 2.5em;" id="tagsRow"></p>
      </tr>
      </tbody>
    </table>
    <br>
    <button id="renameFileButton" class="col s5 btn waves-effect left">Rename</button>
    <button id="renameActionButton" class="col s5 btn waves-effect left hide">Change Name</button>
    <button id="deleteFileButton" class="col s5 btn waves-effect right">Delete</button>

    <div class="row hide" id="uploadFilesDiv">
      <h5 class="metaTextAccent center">Upload File</h5>
      <div class="col s12">
        <br>
        <div class="">
          <div>
            <label>
              <input type="radio" name="fileTypeRadio" checked="true">
              <span class="metaTextAccent">Expression Matrix</span>
            </label>
            <br>
            <a>Data Technology</a>
            <select id="techSelection" class="browser-default">
              <option>MicroArray</option>
              <option>RNA-Seq</option>
            </select>
          </div>
          <br>
          <div class="">
            <label>
              <input type="radio" name="fileTypeRadio">
              <span class="metaTextAccent">Experimental Design</span>
            </label>
          </div>
          <br>
          <div class="hide">
            <label>
              <input type="radio" name="fileTypeRadio">
              <span class="metaTextAccent">Annotation File</span>
            </label>
          </div>
          <div class="col s11" style="margin-top: 150px;">
            <div class="input-container">
              <input type="file" id="real-input">
              <button class="browse-btn">
                Browse Local Files
              </button>
              <span class="file-info">Upload a file</span>
            </div>
            <p class="center">
              <button id="uploadButton" class="waves-effect btn center-align">Upload</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bottom col s2">
      <button id="showInfoButton" class="waves-effect btn center col s10 hide">Show File Info</button>
      <button id="showUploadInfoButton"class="waves-effect btn" (click)="uploadFile()">Upload File</button>
    </div>
  </div>
  <div class="col s9 offset-s2">
    <div>
      <h3 class="metaTextAccent center">My Files</h3>
      <app-file-browser class="row col s12 offset-s1"></app-file-browser>

    </div>
  </div>
</div>
