<div>
  <div class="col s5 offset-s1">
    <div class="switch left">
      <label>
        All Results
        <input type="checkbox" id="checkboxResults" checked="true" (change)="this.checkBoxChange()">
        <span class="lever"></span>
        20 First Results
      </label>
    </div>
  </div>
  <table name="myTable" class="responsive-table highlight">
    <thead class="fixed-header">
      <tr>
        <th class="center">GO ID</th>
        <th class="">GO Term</th>
        <th class="center metaPointer" id="lorCol">LOR</th>
        <th class="center">Confidence Interval</th>
        <th class="center metaPointer" id="pvalCol">P value</th>
        <th class="center metaPointer" id="adjPvalCol">Adjusted P value</th>
        <th class="center"></th>
      </tr>
    </thead>
    <tbody class="scrollableTable">
      <ng-container *ngFor="let go of goData; let link of links; let i=index">
        <tr>
          <td class="center"> <a href="{{links[i]}}" target="_blank"> {{go.GOTerm}} </a> </td>
          <td class="">  {{go.goName}}  </td>
          <td *ngIf="go.lor < 0 && design.includes('ME-MS')" class="center">{{go.lor.toFixed(3)}}<a style="font-size: 18px; color: black;"> (<strong>♂</strong>) </a></td>
          <td *ngIf="go.lor > 0 && design.includes('ME-MS')" class="center">{{go.lor.toFixed(3)}}<a style="font-size: 18px; color: black;"> (<strong>♀</strong>) </a></td>
          <td *ngIf="go.lor < 0 && design.includes('Case')" class="center">{{go.lor.toFixed(3)}} (Control) </td>
          <td *ngIf="go.lor > 0 && design.includes('Case')" class="center">{{go.lor.toFixed(3)}} (Case) </td>
          <td class="center"> {{go.confidenceInterval}} </td>
          <td class="center"> {{go.pval.toExponential(4)}} </td>
          <td class="center"> {{go.adjPval.toExponential(4)}} </td>
          <td class="metaPointer row" style="vertical-align: middle; cursor: pointer" id="{{'infoshow'+i}}" (click)="showGraphs(i)"> <a> <i class="small material-icons">collections</i> </a> </td>
          <td class="metaPointer row hide" style="vertical-align: middle; cursor: pointer" id="{{'infohide'+i}}" (click)="hideGraphs(i)">  <i class="small material-icons">close</i>  </td>
        </tr>
        <tr>
        <td class="row hide" id="{{'forestplot'+i}}" colspan="7">
          <!-- <div class="col-s4 offset-s1"> -->
            <app-forest-plot selectedGO={{go.GOTerm}} [selectedAnalysis]=_selectedAnalysis [user]=user summaryLor={{go.lor}} summaryci={{go.confidenceInterval}}></app-forest-plot>
          <!-- </div> -->
          <!-- <div class="col-s4 offset-s2"> -->
            <app-funnel-plot selectedGO={{go.GOTerm}} [selectedAnalysis]=_selectedAnalysis [user]=user summaryLor={{go.lor}} summarySE="{{go.SE}}"></app-funnel-plot>
          <!-- </div> -->
        </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

